<%- include("../partials/header") %>
<div class="container">
	<div class = "row">
		<div class = "col-md-3">
			<p class = "lead">SIDEBAR</p>
			<div class = "list-group">
				<li class = "list-group-item active">INFO 1</li>
				<li class = "list-group-item">INFO 2</li>
				<li class = "list-group-item">INFO 3</li>
			</div>
			<div id = "map"></div>
		</div> <!-- col -->
		<div class = "col-md-9">
			<div class = "thumbnail show">
				<img class = "img-responsive" src = <%= campground.image %>>
				<div class = "caption-full">
					<h4 class = "pull-right">$<%= campground.price %>/night</h4>
					<h4 href = "#"><a><%= campground.name %></a></h4>
					<!------------------------ Like Logic ------------------------>
					<div style = "padding-bottom: 10px;">
						<form action = "/campgrounds/<%= campground._id %>/like" method = "POST">
							<div class = "btn-group">
								<% if(currentUser && campground.likes.some(function(like){
									return like.equals(currentUser._id)})){ %>
										<button class = "btn btn-sm btn-primary">
											<i class = "fas fa-thumbs-up"></i> Liked (<%= campground.likes.length%>)		
										</button>
								<%} else {%>
										<button class = "btn btn-sm btn-secondary">
											<i class = "fas fa-thumbs-up"></i> Like (<%= campground.likes.length%>)	
										</button>
								<% } %>
								<button type = "button" class = "btn btn-sm btn-default" data-toggle = "modal" data-target = "#campgroundLikes">
									See more details
								</button>
							</div>
						</form>
					</div>
					<div class = "pull-right">
						<button type = "button" class = "btn btn-xs btn-primary" data-toggle = "modal" data-target = "#campgroundLikes">
							<span>
								Total likes:<i class = "fas fa-thumbs-up"></i>
								<%= campground.likes.length %>
							</span>
						</button>
					</div>
					<!------------------------ Like Logic ------------------------>
					<p> <%= campground.description %></p>
					<p>
						<em>
							Submitted By: <a href = '/users/<%= campground.author.id%>'>
							<%= campground.author.username %></a>, 
							<%= moment(campground.createdAt).fromNow() %>
						</em>
					</p>
					<% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
							<a class = "btn btn-warning" href = "/campgrounds/<%=campground._id%>/edit">EDIT</a>
							<form class = "delete-post-form" action = "/campgrounds/<%=campground._id%>?_method=DELETE" method = "POST">
								<button class = "btn btn-danger">Delete</button>
							</form>
					<% } %>
					<a href = "/campgrounds">Go Back</a>
				</div>			
			</div>
			<div class = "well">
				<div class = "caption-full">
					<span class = "comment-header">Comments</span>
					<span class = "pull-right">
					<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new"> Add Comment</a>
					</span>
				</div>
				
				<hr>
				<% campground.comments.forEach(function(comment) {%>
					<div class = "row">
						<div class = "col-md-12">
							<strong><%= comment.author.username %></strong>
							<span class = "pull-right"><%= moment(comment.createdAt).fromNow() %></span>
							<p><%= comment.text %></p>
						<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
								<a class = "btn btn-xs btn-warning" href = "/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">
								   EDIT
								</a>
								<form class = "delete-post-form" action = "/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method = "POST">
									<button class ="btn btn-xs btn-danger">DELETE</button>
								</form>
						<% } %>
							<p></p>
						</div>
					</div>
				<%});%>
			</div>
		</div> <!-- col -->
	</div> <!-- row -->
</div> <!-- container -->

<!-- Campground Likes Modal -->
<div id = "campgroundLikes" class = "modal fade" role = "dialog">
	<div class = "modal-dialog">
		<!-- Modal Content -->
		<div class = "modal-content">
			<div class = "modal-header">
				<button type = "button" class = "close" data-dismiss = "modal">
					&times;
				</button>
			</div>
			<div class = "modal-body">
				<table class = "table table-striped">
					<thead>
						<tr>
							<th>Liked by:</th>
						</tr>
					</thead>
					<tbody>
						<% campground.likes.forEach(function(like){ %>
							<tr>
								<td>
									<span class = "badge">
										<i class = "fas fa-user"></i>
									</span>
									<%= like.username %>
								</td>
							</tr>
						<% }); %>
						<% if(campground.likes.length === 0){ %>
								<tr>
									<td><em>No Likes</em></td>
								</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<div class = "modal-footer">
				<button type = "button" class = "btn btn-default" data-dismiss = "modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Campground Likes Modal -->
	
<script>
	function initMap(){
		var lat = <%= campground.lat %>;
		var lng = <%= campground.lng %>;
		var center = {lat: lat,lng:lng};
		var map = new google.maps.Map(document.getElementById('map'),{
			zoom: 8,
			center: center,
			scrollwheel: false
		});
		var contentString =`
			<strong><%= campground.name %> <br/>
			<%= campground.location %></strong>
			<p><%= campground.description %></p>
		`
		var infowindow = new google.maps.InfoWindow({
			content: contentString
		});
		
		var marker = new google.maps.Marker({
			position: center,
			map: map
		});
		marker.addListener('click',function(){
			infowindow.open(map,marker);
		});	
	}
</script>
<script async defer src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyCwT50J_M6Y1VwxuTCeJKK0QLRUYCyKhKM&callback=initMap"></script>	
	
<%- include("../partials/footer") %>